<div class="payment">
  <div class="block-header d-flex justify-between">
    <h2 class="title">Можно оплатить:</h2>
  </div>

  <div class="block-content">
<!--    <div>-->
<!--      <p class="payment-text border">1. Наличными при получении на складе</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p class="payment-text box-1">2. </p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p class="payment-text">3. Наложенным платежом при получении в отделении ТК "Новая почта"</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p class="payment-text">4. Гарантированным платежом через систему ТК "Новая почта"</p>-->
<!--    </div>-->

    <div class="d-flex wrap justify-center">
      <div class="box box1">
        <div class="oddboxinner payment-text">Наличными при получении на складе</div>
      </div>
      <div class="box box2">
        <div class="oddboxinner payment-text">Банковской картой</div>
      </div>
      <div class="box box3">
        <div class="oddboxinner payment-text">Наложенным платежом при получении в отделении ТК "Новая почта"</div>
      </div>
      <div class="box box1">
        <div class="oddboxinner payment-text">Гарантированным платежом через систему ТК "Новая почта"</div>
      </div>
    </div>
  </div>


</div>
