<div class="good-wrap">
  <div class="good">
    <img src="./assets/goods/good-{{good.img}}.png" alt="good-{{good.img}}">
    <div>
      <p class="good-title">{{good.name}}</p>
      <div class="d-flex align-center justify-center wrap">
        <p class="price">{{good.price}}</p>
        <div class="button-wrap">
<!--          <button class="button">Купить</button>-->
          <app-buy-button (onClick)="onBuyClick()">КУПИТЬ</app-buy-button>
        </div>
      </div>
    </div>
  </div>
</div>
