
<div class="lending">
  <div class="header-wrap">
    <app-header (onScrollTo)="onScrollTo($event)"></app-header>
  </div>

  <div class="wrap">
    <app-carousel></app-carousel>

    <div class="content">
      <app-features id="features"></app-features>

      <app-video-block></app-video-block>

<!--      <app-advantages></app-advantages>-->

<!--      <app-goods id="goods"></app-goods>-->

<!--      <app-delivery id="delivery"></app-delivery>-->

<!--      <app-payment id="payment"></app-payment>-->

<!--      <app-feedback></app-feedback>-->

<!--      <footer>-->
<!--       <app-footer></app-footer>-->
<!--      </footer>-->
    </div>

  </div>
</div>
