@import '../../styles/variables.scss';

.lending {
  background: $mainLightColor;

  //.header-background {
  //  position: absolute;
  //  width: 100%;
  //  height: 80px;
  //  background: #890089;
  //}

  .header-wrap {
    position: fixed;
    z-index: 5;
    width: 100%;
  }

  .wrap {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  .content {

  }
}
