<div class="video-block">
  <div class="block-header d-flex justify-center">
    <div class="block-header-title">
      <h2 class="title text-center">Тетради на кольцах</h2>
      <p class="title subtitle text-center">в деталях показываем на видео</p>
    </div>
  </div>

  <div class="block-content d-flex align-center">
    <div class="video" (click)="isShowVideo = true" [ngClass]="{'show': isShowVideo}">
      <iframe allowfullscreen="allowfullscreen"
              src="//www.youtube.com/embed/d9l3H0YsSzo?autoplay=1&amp;autohide=1&amp;controls=1&amp;showinfo=0&amp;rel=0">
      </iframe>
    </div>
  </div>
</div>

