// fonts
$caveat: 'Caveat', cursive;

// colors
$mainLightColor: #fff;
$mainDarkColor: #1F001F;

$brandPrimaryColor: #890089;
$brandSecondaryColor: #ffb801;
$lightBackgroundColor: #F3F7FE;

$buttonColor: $brandSecondaryColor;
$buttonHoverColor: #f15a24;

$goodsBorderColor: #C7C7C7;


