// fonts
$textFont: 'Noto Sans', sans-serif;
$titleFont: 'Russo One', sans-serif;
$testHand: 'Patrick Hand', cursive;
$testHandSC: 'Patrick Hand SC', cursive;

// colors
$mainLightColor: #fff;
$main-dark-color: #1F001F;
$lightBackgroundColor: #F3F7FE
