@import './variables.scss';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  &:focus {
    outline: none;
  }
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  //min-height: 100vh;
  width: 100%;
  font-family: $caveat;
  font-size: 14px;
  font-weight: 400;
  color: $mainDarkColor;
  //background-color: $color-main;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;

  &:hover {
    white-space: normal;
    text-overflow: unset;
  }
}

button {
  font-size: var(--font-size, 2rem);
  font-family: $caveat;
  color: $mainLightColor;
  background: $buttonColor;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background: $buttonHoverColor;
    transition: .5s;
  }

  &:active {
    background: $buttonColor;
  }
}
// LOGO
.logo {
  //cursor: pointer;

  &-icon {
    width: 80px;
  }

  &-name {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 600;
    color: $brandSecondaryColor;
    transition: .5s;
  }

  &:hover {
    //.logo-name {
    //  color: $buttonHoverColor;
    //  transition: .5s;
    //}
  }
}

// BLOCK
.block-header {
  position: relative;
  padding: 0 130px;
  text-align: center;

  .title {
    font-size: 4rem;
    font-weight: 600;
    font-family: $caveat;
    letter-spacing: 4px;

    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
  }

  .subtitle {
    font-size: 3rem;
    font-weight: 600;
    color: $brandPrimaryColor;
    letter-spacing: 4px;
  }
}

.block-content {
  padding: 22px 0;
  margin: 0 110px;

  .text {
    font-size: 18px;
  }
}

.position {
  position: relative;

  &--60 {
    top: -60px;
  }

  &--135 {
    top: -135px;
  }

  &--195 {
    top: -195px;
  }
}

// flex
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.with-20 {
  width: 20%;
}

.with-30 {
  width: 30%;
}

.with-40 {
  width: 40%;
}

.with-45 {
  width: 45%;
}

.with-50 {
  width: 50%;
}

.with-70 {
  width: 70%;
}

.p-r-100 {
  padding-right: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.text-center {
  text-align: center;
}

///* width */
//::-webkit-scrollbar {
//  width: 10px;
//  height: 10px;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 5px $color-main;
//  border-radius: 5px;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: darken($color-primary, 5%);
//  border-radius: 5px;
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: darken($color-primary, 10%);
//}

.owl-theme .owl-dots {
  position: relative;
  top: -62px;
  margin: 0;
  background: transparent;
}

path {
  //stroke: $brandSecondaryColor !important;
  stroke: $brandPrimaryColor !important;
}

@media (max-width: 1024px) {
  .logo {
    &-icon {
      width: 70px;
    }
    &-name {
      font-size: 2.2rem;}
  }

  .block-content {
    margin: 0 40px;
  }
}

@media (max-width: 768px) {
  .block-header {
    padding: 0 15px;

    .title {
      font-size: 2rem;
      letter-spacing: 0;
    }
  }

  .block-content {
    padding: 10px 0;
    margin: 0 20px;
  }
}
