@import '../../../styles/variables.scss';

.feedback {
  background: $lightBackgroundColor;
  padding: 60px 0;
  text-align: center;

  .title {
    margin-bottom: 20px;
  }

  &-button {
    font-size: 2rem;
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px 60px;
  }
}
