<div class="footer">
  <div class="logo d-flex justify-center align-center">
    <img class="logo-icon" src="./assets/icons/logo.svg" alt="logo">
    <p class="logo-name">bloktetradi</p>
    <!--    <img class="logo-name" src="./assets/icons/logo-name.svg" alt="logo">-->
  </div>

  <div class="d-flex align-center">
    <img class="phone-icon" src="../../assets/icons/phone-call.svg" alt="phone">
    <p>+38 (095) 007-93-76</p>
  </div>

  <div class="social-networks">
    <ul class="socialIcons">
      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <!--            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
      <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a class="youtube" href="#"><i class="fa fa-vk"></i></a></li>
      <li><a class="youtube" href="#"><i class="fab fa-tiktok"></i></a></li>
      <i class="fab fa-tiktok"></i>
    </ul>
  </div>
</div>

