<div class="features">
  <div class="block-header features-header">
    <h2 class="title">Для ценителей</h2>
    <p class="title subtitle">практичных и стильных вещей !</p>
  </div>

  <div class="block-content d-flex align-center">
    <div class="sub-block text">Сменные блоки крепятся на кольцевой механизм</div>
    <div class="sub-block d-flex justify-between wrap img">
      <img class="with-30 feature-1-img" src="../../../assets/features/feature-1.png" alt="feature-1">
      <img class="with-30 feature-1-img" src="../../../assets/features/feature-2.png" alt="feature-2">
      <img class="with-30 feature-1-img" src="../../../assets/features/feature-3.png" alt="feature-3">
    </div>
  </div>

  <div class="block-content d-flex align-center">
    <div class="sub-block d-flex align-center justify-center feature-wrap">
      <img [ngClass]="{'feature': !featureToggle}" class="img-with" src="../../../assets/features/feature-4.png" alt="feature-4">
      <img [ngClass]="{'feature': featureToggle}" class="img-with" src="../../../assets/features/feature-5.png" alt="feature-5">
    </div>
    <div class="sub-block text">Можно добавлять, убирать или перекладывать листы</div>
  </div>

  <div class="block-content d-flex justify-center align-center">
    <div class="sub-block text">Надежный переплёт защищает бумагу и ваши записи</div>
    <div class="sub-block d-flex justify-center align-center wrap">
      <img class="feature-3-img" src="../../../assets/features/feature-6.png" alt="feature-6">
      <img class="feature-3-img" src="../../../assets/features/feature-7.png" alt="feature-7">
    </div>
  </div>

  <div class="block-content d-flex align-center">
    <div class="sub-block overflow">
      <div class="carousel">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide [dotContent]="'sd'">
            <div class="poster" style="background-image: url('../../../assets/features/feature-8.png')"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="poster" style="background-image: url('../../../assets/features/feature-1.png')"></div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <p class="sub-block text">Различные материалы обложек</p>
  </div>

  <div class="block-content">
    <div class="feature-bg heading-frame">
      <h2 contenteditable="true" class="text">Удобный <br> формат тетради А5</h2>
    </div>
  </div>
</div>
