@import '../../../styles/variables.scss';

.features {
  background: $lightBackgroundColor;
  padding: 0 0 20px 0;
  position: relative;
  top: -32px;
  margin-bottom: -200px;
  overflow: hidden;

  &-header {
    padding: 80px 0 30px 0;
    background: linear-gradient(to bottom, $brandSecondaryColor, $lightBackgroundColor);
  }

  .text {
    font-size: 2.5rem;
  }

  .feature-wrap {
    position: relative;
  }

  .feature {
    z-index: 3;
    position: absolute;
  }

  .feature-bg {
    height: 70vh;
    background: #333 url("../../../assets/features/2.png") center no-repeat;
    background-size: cover;

    display: grid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    grid-template-columns: max-content auto;
    grid-template-rows: auto max-content;
    color: $mainDarkColor;
    padding: 2rem;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid $brandPrimaryColor;
    }
    &:before {
      grid-row: 1 / 2;
      border-right: none;
      border-bottom: none;
    }
    &:after {
      grid-row: 1 / span 2;
      border-left: none;
    }
    h2 {
      margin: 1rem 1rem -.5rem 0;
      max-width: 100%;
      color: $brandPrimaryColor;
    }
  }

  .carousel {
    margin: 0 auto;
    max-width: 700px;

    .poster {
      height: 320px;
      background-color: $mainLightColor;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-sizing: border-box;
    }
    .owl-carousel .owl-stage-outer {
      /* override */
      overflow: initial;
    }

    #bodyContent {
      /* override */
      overflow: hidden;
    }
  }

}
