@import '../../../styles/variables.scss';
@import '../../../styles/phone-button.scss';

.delivery {
  background: $lightBackgroundColor;
  padding: 0 0 20px 0;

  &-header {
    padding: 75px 0 20px 0;
    background: linear-gradient(to bottom, $brandSecondaryColor, $lightBackgroundColor);

    .title {
      padding-bottom: 10px;
    }
  }

  &-content {
    padding: 0 130px;
  }

  &-block {
    text-align: center;
    padding: 0 20px 20px 20px;

    .delivery-title {
      font-size: 1.5rem;
      font-family: $caveat;
      padding: 15px;
      font-weight: 600;
      color: $brandSecondaryColor;
    }

    .Phone {
      margin: 10px 0;
      font-size: 40px;
    }
  }

  &-text {
    font-size: 2rem;
  }

  .order-icon {
    width: 130px;
    height: auto;
    padding: 15px;
  }

  .p-r-10 {
    padding-right: 10px;
  }

  .hidden {
    overflow: hidden;
  }

  .height-71 {
    height: 71px;
  }

  @media (max-width: 1024px) {
    &-content {
      padding: 0 20px;
    }
  }

  @media (max-width: 768px) {
    &-header {
      padding: 30px 70px 20px 70px;
      .title {
        padding-bottom: 0;
      }
    }

    &-content {
      flex-wrap: wrap;
    }

    &-text {
      font-size: 1.5rem;
    }

    .order-icon {
      width: 80px;
    }
  }

  @media (max-width: 320px) {

  }
}
