<div class="delivery" id="delivery">
  <div class="block-header delivery-header">
    <h2 class="title">Как получить заказ?</h2>
  </div>

  <div class="block-content delivery-content d-flex hidden">
    <div class="delivery-block flex-1">
      <div class="d-flex align-center justify-center">
        <p class="delivery-title">ОФОРМИТЕ ЗАКАЗ</p>
        <app-arrow></app-arrow>
      </div>

      <img class="order-icon" src="./assets/delivery/market.svg" alt="order">
      <p class="delivery-text d-flex align-center justify-center wrap">
        <span class="p-r-10">Сделайте заказ на сайте или по телефону</span>
        <i class="Phone is-animating"></i>
      </p>
    </div>

    <div class="delivery-block flex-1">
      <div class="d-flex align-center justify-center">
        <p class="delivery-title">МЫ ОТВЕТИМ</p>
        <app-arrow></app-arrow>
      </div>

      <img class="order-icon" src="./assets/delivery/answering-call.svg" alt="answering">
      <p class="delivery-text">Мы перезвоним или пришлем сообщение с деталями заказа</p>
    </div>

    <div class="delivery-block flex-1">
      <div class="d-flex align-center justify-center height-71">
        <p class="delivery-title" >ДОСТАВИМ</p>
      </div>

      <img class="order-icon" src="./assets/delivery/free-delivery.svg" alt="free-delivery">
      <p class="delivery-text">Вы получите заказ в нашем пункте выдачи в
        г. Харьков или мы доставим заказ ТК «Новая почта» в любой город</p>
    </div>
  </div>
</div>
