@import '../../../styles/variables.scss';

menu {
  display: flex;

  li {
    //color: $brandPrimaryColor;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: text-shadow .3s;
    cursor: pointer;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    &:hover {
      text-shadow: 0 0 .1px #333, 0 0 .1px $mainDarkColor;
      //background: rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid black;
      transition: 0.5s;
    }
  }

  @media (max-width: 1280px) and (min-width: 769px) {
    li {
      font-size: 1.8rem;
      padding: 10px 13px;
    }
  }

  @media (max-width: 970px) and (min-width: 769px) {
    li {
      font-size: 1.6rem;
      padding: 10px 10px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
