@import '../../../styles/variables.scss';

menu {
  display: flex;

  li {
    font-family: $caveat;
    //color: $brandPrimaryColor;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: text-shadow .3s;
    cursor: pointer;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    &:hover {
      text-shadow: 0 0 .85px #333, 0 0 .85px #333;
      //background: rgba(255, 255, 255, 0.2);
      border-bottom: 3px solid black;
      transition: 0.5s;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
