@import '../../../styles/variables.scss';

.advantages {
  background: $lightBackgroundColor;
  overflow: hidden;

  &-header {
    padding: 75px 0 10px 0;
    background: linear-gradient(to bottom, $brandSecondaryColor, $lightBackgroundColor);
  }

  .sub-block {
    width: 50%;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &-wrap {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 30px;
    //border-bottom: 2px solid $brandPrimaryColor;

    .line {
      position: absolute;
      width: 100%;
      bottom: 0;
      border-bottom: 2px solid $brandPrimaryColor;
    }
  }

  .advantages-1 {
    max-width: 430px;
    min-width: 245px;
    width: 100%;
  }

  .advantages-2 {
    max-width: 430px;
    min-width: 245px;
    width: 100%;
  }

  .advantages-3 {
    background: url("../../../assets/advantages/advantages-3.png") center no-repeat;
    background-size: contain;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    transition: all .1s;
    margin: 10px 20px;
  }

  .advantages-4 {
    width: 100%;
    max-width: 310px;
    min-width: 245px;
  }

  .advantages-5 {
    width: 100%;
    max-width: 430px;
    min-width: 245px;
  }

  .advantages-6 {
    width: 100%;
    max-width: 600px;
    min-width: 245px;
  }

  .advantages-7 {
    width: 100%;
    max-width: 550px;
    min-width: 300px;
  }

  &-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
  }

  .primary-color {
    color: $brandPrimaryColor;
  }

  .hidden {
    overflow: hidden;
  }

  @media (max-width: 1024px) {
    &-text {
      font-size: 2rem;
    }

    .advantages-3 {
      height: 250px;
      width: 250px;
    }
  }

  @media (max-width: 768px) {

    &-header {
      padding: 20px;
    }

    &-text {
      font-size: 2rem;
    }
  }

  @media (max-width: 568px) {
    &-text {
      font-size: 1.8rem;
    }


    &-wrap {
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 650px) {
    .advantages-3 {
      width: 200px;
      height: 200px;
    }
  }

  @media (max-width: 520px) {
    &-wrap {
      display: block;
    }

    .sub-block {
      width: 100%;
      padding: 0 0 10px 0;
    }

    .advantages-1 {
      max-width: 340px;
    }

    .advantages-2 {
      max-width: 340px;
    }

    .advantages-4 {
      max-width: 280px;
    }

    .advantages-5 {
      max-width: 300px;
    }
  }
}

