@import '../../../styles/variables.scss';

.advantages {
  background: $lightBackgroundColor;
  padding: 0 0 20px 0;

  &-header {
    padding: 80px 0 10px 0;
    background: linear-gradient(to bottom, $brandSecondaryColor, $lightBackgroundColor);
  }

  &-wrap {
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid $brandPrimaryColor;
    &.last {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  .advantages-1 {
    background: url("../../../assets/advantages/advantages-1.png") center no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
  }

  .advantages-2 {
    background: url("../../../assets/advantages/advantages-2.png") center no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
  }

  .advantages-3 {
    background: url("../../../assets/advantages/advantages-3.png") center no-repeat;
    background-size: contain;
    max-height:400px;
    min-height:400px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 50%;
    transition: all .1s;
  }

  .advantages-4 {
    background: url("../../../assets/advantages/advantages-4.png") center no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
  }

  .advantages-5 {
    background: url("../../../assets/advantages/advantages-5.png") center no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
  }
  .advantages-6 {
    background: url("../../../assets/advantages/advantages-6.png") center no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
  }
  .advantages-7 {
    background: url("../../../assets/advantages/advantages-7.png") center no-repeat;
    background-size: contain;
    height: 55vh;
    width: 100%;
  }

  &-text {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .padding-50 {
    padding: 0 50px;
  }

  .padding-20 {
    padding: 0 20px;
  }

  .primary-color {
    color: $brandPrimaryColor;
  }
}

