<div class="advantages" id="advantages">
  <div class="block-header advantages-header">
    <span class="title">7 </span>
    <span class="title subtitle">причин заменить обычную тетрадь на </span>
    <h2 class="title">Тетрадь со сменными блоками</h2>
  </div>

  <div class="block-content">
    <div class="advantages-wrap margin">
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-1"></div>
      </div>
      <div class="advantages-text flex-1 padding-50">
        <p>
          В любой момент с легкостью можете поменять местами, заменить, убрать или добавить
          листы, чего не сделаешь с обычной тетрадью. Это делает тетрадь практически
          <span class="primary-color">бесконечной!</span>
        </p>
      </div>
      <div class="line"></div>
    </div>

    <div class="advantages-wrap">
      <div class="advantages-text flex-1 padding-50">
        <p>
          В одной тетради можно совместить множество предметов, она же будет и черновиком, который всегда
          под рукой, и записной книжкой.
          <span class="primary-color">Тетрадь на все случаи жизни!</span>
        </p>
      </div>
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-2"></div>
      </div>
    </div>

    <div class="advantages-wrap hidden">
      <div class="advantages-text flex-1 padding-20">
        <p>
          Одна тетрадь на кольцах со сменными блоками
          <span class="primary-color">заменит десяток обычных тетрадей</span>
        </p>
      </div>
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-3" #dynamicImg [ngStyle]="{'transform': degrees}"></div>
      </div>
      <div class="advantages-text flex-1 padding-20">
        <p>
          Не нужно переживать, взял ли нужный конспект:
          <span class="primary-color">взял тетрадь - значит все с собой</span>
        </p>
      </div>
    </div>

    <div class="advantages-wrap margin">
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-4"></div>
      </div>
      <div class="advantages-text flex-1 padding-50">
        <p>
          <span class="primary-color">Сбережете природу и деньги</span>,
          поскольку вам больше не придется выкидывать тетради с остатками чистых
          листов. Достаточно будет убрать исписанные листы, добавить чистые и тетрадь как новенькая
        </p>
      </div>
      <div class="line"></div>
    </div>

    <div class="advantages-wrap margin">
      <div class="advantages-text flex-1 padding-50">
        <p>
          <span class="primary-color">Сэкономите</span> место как в сумке, так и на книжных полках!
        </p>
      </div>
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-5"></div>
      </div>
      <div class="line"></div>
    </div>

    <div class="advantages-wrap margin">
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-6"></div>
      </div>
      <div class="advantages-text flex-1 padding-50">
        <p>
          Возможность сохранять важную информацию из года в год и
          <span class="primary-color">использовать ежедневник много лет</span>
        </p>
      </div>
      <div class="line"></div>
    </div>

    <div class="advantages-wrap margin">
      <div class="advantages-text flex-1 padding-50">
        <p>
          <span>Дополнительные сменные блоки </span>
          <span class="primary-color">всегда в продаже</span>
        </p>

      </div>
      <div class="d-flex justify-center align-center flex-1">
        <div class="advantages-7"></div>
      </div>
    </div>
  </div>
</div>
